.dropZone {
    background-color: #F5F5F5;
    color: gray;
    width: 800px;
    height: 200px;
    border-style: dashed;
    line-height: 200px;
    font-size: 18px;
    border-radius: '30px'
}

.transcript {
    overflow-y: scroll !important;
    height: 500px !important;
}